<div class="card">
    <section class="main">
        <div class="headerop">
            <h1><strong>Domine sua rotina com facilidade.</strong></h1>
        </div>
        
        <p class="descricao">
            O opTask é um site focado na organização do dia a dia, permitindo que os usuários criem, editem, excluam e marquem tarefas como concluídas. 
            Com uma interface simples e intuitiva, é ideal para quem precisa se organizar em estudos, trabalho ou atividades pessoais. 
            O site está em constante evolução e trará novos recursos, como filtros, etiquetas e estatísticas, para aprimorar a experiência do usuário.
        </p>
        <hr>
        <a href="usuarios/registro" class="btn btn-success comecar">Começar agora</a>
        
        <a href="" class="ler-mais"><p>Ler mais</p></a>
    </section>
</div>

<div class="card card-funcionalidades">
    <section class="funcionalidades">
        <div class="header">
            <h1>Tudo o que você precisa em um só lugar.</h1>
        </div>
        <p>Crie tarefas, edite-as, exclua, pesquise quantas você precisar, organize seu dia, use OpTask.</p>
        <div class="card funcionalidades-list">
  <div class="item">
    <i class="bi bi-person-circle"></i> 
    <span><strong>Cadastro de usuários:</strong> <p>Crie sua conta e comece a usar o site</p></span>
  </div>
  <div class="item">
    <i class="bi bi-pencil-square"></i> <strong>Adicionar Tarefas:</strong> <p>Crie tarefas quando quiser.</p>
  </div>
  <div class="item">
    <i class="bi bi-pencil"></i>
    <span><strong>Editar tarefas:</strong> <p>Edite-as quando precisar.</span></p>
  </div>
  <div class="item">
    <i class="bi bi-trash"></i>
    <span><strong>Excluir tarefas:</strong> <p>Exclua as tarefas em um clique.</span></p>
  </div>
  <div class="item">
    <i class="bi bi-calendar-check"></i>
    <span><strong>Organização diária:</strong> <p>Organize seu dia com eficiência.</span></p>
  </div>
  <div class="item">
    <i class="bi bi-search"></i>
    <span><strong>Filtros:</strong> <p>Pesquise por categoria ou data facilmente.</span></p>
  </div>
  <div class="item">
    <i class="bi bi-bar-chart-fill"></i>
    <span><strong>Estatísticas:</strong> <p>Veja sua produtividade.</span></p>
  </div>
</div>
    </section>
</div>



<div class="card card-tecnologias">
    <section class="tecno">
        <div class="header">
            <h1>O que move o opTask por dentro.</h1>
        </div>
        <div class="card technologies-list">
            <div class="technology-item">
                <img src="/img/bootstrap.png" width="160rem" alt="Imagem do Bootstrap">
                 <strong>Bootstrap</strong><br> Framework CSS para design responsivo.
            </div><br>
            <div class="technology-item">
                <img src="/img/node.png" width="140rem" alt="">
                 <strong>Node.js</strong> <p> Plataforma para o backend do site.</p>
            </div><br>
            <div class="technology-item">
                <img src="/img/mysql.png" width="160rem" alt="">
             <strong>MySql</strong> <p> Banco de dados para armazenar dados de tarefas.</p>
            </div><br>
            <div class="technology-item">
                <img src="/img/js.png" width="140rem" alt="">
             <strong>JavaScript</strong>  <p>Linguagem de programação para interação e funcionalidades dinâmicas.</p>
            </div><br>
            <div class="technology-item">
                <img src="/img/expressjs.png" width="160rem" alt="">
             <strong>Express.js</strong> <p> Framework para construção de APIs no backend.</p>
            </div><br>
            <div class="technology-item">
                <img src="/img/css.png" width="160rem" alt="">
              <strong>CSS</strong> <p> Para estilização e criação de layouts atraentes e responsivos.</p>
            </div>
        </div>
    </section>
</div>
