<div class="card">
    <section class="main">
        <div class="headerop">
            <h1>Anote, controle e conclua.</h1>
        </div>
        
        <p class="descricao">
            O opTask é um site focado na organização do dia a dia, permitindo que os usuários criem, editem, excluam e marquem tarefas como concluídas. 
            Com uma interface simples e intuitiva, é ideal para quem precisa se organizar em estudos, trabalho ou atividades pessoais. 
            O site está em constante evolução e trará novos recursos, como filtros, etiquetas e estatísticas, para aprimorar a experiência do usuário.
        </p>
        <hr>
        <a href="usuarios/registro" class="btn btn-success btn-comecar">Começar agora</a>
        
        <a href="" class="ler-mais"><p>Ler mais</p></a>
    </section>
</div>

<div class="card card-funcionalidades">
    <section class="funcionalidades">
        <div class="header">
            <h1>Organize suas tarefas.</h1>
        </div>
        <p>Crie tarefas, edite-as, exclua, pesquise quantas você precisar, organize seu dia, use OpTask.</p>
        <div class="card funcionalidades-list">
  <div class="item">
    <i class="bi bi-person-circle"></i> 
    <span><strong>Cadastro de usuários:</strong> <p>Crie sua conta e comece a usar o site</p></span>
  </div>
  <div class="item">
    <i class="bi bi-pencil-square"></i>
    <span><strong>Adicionar Tarefas:</strong> <p>Crie tarefas quando quiser</span></p>
  </div>
  <div class="item">
    <i class="bi bi-pencil"></i>
    <span><strong>Editar tarefas:</strong> <p>Edite-as quando precisar</span></p>
  </div>
  <div class="item">
    <i class="bi bi-trash"></i>
    <span><strong>Excluir tarefas:</strong> <p>Exclua as tarefas em um clique</span></p>
  </div>
  <div class="item">
    <i class="bi bi-calendar-check"></i>
    <span><strong>Organização diária:</strong> <p>Organize seu dia com eficiência</span></p>
  </div>
  <div class="item">
    <i class="bi bi-search"></i>
    <span><strong>Filtros:</strong> <p>Pesquise por categoria ou data facilmente</span></p>
  </div>
  <div class="item">
    <i class="bi bi-bar-chart-fill"></i>
    <span><strong>Estatísticas:</strong> <p>Veja sua produtividade!</span></p>
  </div>
</div>
    </section>
</div>



<div class="card card-tecnologias">
    <section class="tecno">
        <div class="header">
            <h1>Tecnologias</h1>
        </div>
        <div class="card technologies-list">
            <div class="technology-item">
                <i class="bi bi-bootstrap"></i> <strong>Bootstrap</strong> - Framework CSS para design responsivo.
            </div><br>
            <div class="technology-item">
                <i class="bi bi-window"></i> <strong>Node.js</strong> - Plataforma para o backend do site.
            </div><br>
            <div class="technology-item">
                <i class="bi bi-database"></i> <strong>MySql</strong> - Banco de dados para armazenar dados de tarefas.
            </div><br>
            <div class="technology-item">
                <i class="bi bi-code"></i> <strong>JavaScript</strong> - Linguagem de programação para interação e funcionalidades dinâmicas.
            </div><br>
            <div class="technology-item">
                <i class="bi bi-file-earmark-code"></i> <strong>Express.js</strong> - Framework para construção de APIs no backend.
            </div><br>
            <div class="technology-item">
                <i class="bi bi-palette"></i> <strong>CSS</strong> - Para estilização e criação de layouts atraentes e responsivos.
            </div>
        </div>
    </section>
</div>
