<main>
        <section class="main" style="background-color: #F0F0F0; padding: 20px ;">
            <h1>OpTaks</h1>
            <p>O opTask é um site feito para ajudar na organização do dia a dia.</p>
            <hr>
            <a href="usuarios/registro"><button class="btn btn-primary">Cadastrar-se</button></a>
            <a href="usuarios/login"><button class="btn btn-primary">Login</button></a>
        </section>
        <section class="sobre" style="background-color: #F0F0F0; padding: 20px; border-radius: 5px;">
            <h1>Sobre o opTask</h1>
            <p>O opTask é um site feito para ajudar na organização do dia a dia.
                Ele permite que cada usuário tenha sua própria lista de tarefas, podendo adicionar novas tarefas, editar, excluir e marcar como concluídas. 
                Tudo é feito de forma simples e rápida, com uma interface pensada para ser fácil de usar. O sistema é ideal para quem quer manter o foco em estudos, trabalho ou atividades pessoais.
                O opTask ainda está em evolução e vai receber novos recursos com o tempo, como filtros, etiquetas e estatísticas, tornando a experiência ainda mais completa.</p>
        </section>
    </main>
</body>
</html>
