<section class="main" style="padding: 30px;">
    <!-- Ícone e Título lado a lado -->
    <div class="header">
        <i class="bi bi-bar-chart-fill"></i>
        <h1>OpTask</h1>
    </div>
    
    <p style="font-size: 1.1rem;">
        O opTask é um site focado na organização do dia a dia, permitindo que os usuários criem, editem, excluam e marquem tarefas como concluídas. 
        Com uma interface simples e intuitiva, é ideal para quem precisa se organizar em estudos, trabalho ou atividades pessoais. 
        O site está em constante evolução e trará novos recursos, como filtros, etiquetas e estatísticas, para aprimorar a experiência do usuário.
    </p>
    
    <a href="" style="text-decoration: none; color:rgb(13, 26, 199); font-weight: bold;">Ler mais</a>
    <hr>
    
    <a href="usuarios/registro">
        <button class="btn btn-primary" style="width:100%">Cadastrar-se</button>
    </a>
</section>
