  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">opTask</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registro</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 
    <main>
        <section class="main" style="background-color: #F0F0F0; padding: 20px ;">
            <h1>OpTaks</h1>
            <p>O opTask é um site feito para ajudar na organização do dia a dia.</p>
            <hr>
        </section>
        <section class="sobre" style="background-color: #F0F0F0; padding: 20px; border-radius: 5px;">
            <h1>Sobre o opTask</h1>
            <p>O opTask é um site feito para ajudar na organização do dia a dia.
                Ele permite que cada usuário tenha sua própria lista de tarefas, podendo adicionar novas tarefas, editar, excluir e marcar como concluídas. 
                Tudo é feito de forma simples e rápida, com uma interface pensada para ser fácil de usar. O sistema é ideal para quem quer manter o foco em estudos, trabalho ou atividades pessoais.
                O opTask ainda está em evolução e vai receber novos recursos com o tempo, como filtros, etiquetas e estatísticas, tornando a experiência ainda mais completa.</p>
        </section>
    </main>
</body>
</html>
