<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>opTask - Home</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="#sobre">Sobre</a>
            <a href="./login.handlebars">Login</a>
            <a href="./register.handlebars">Register</a>
        </nav>
    </header>
    <main>
        <section class="main">
            <h1>opTaks</h1>
            <p>O opTask é um aplicativo web feito para ajudar na organização do dia a dia.</p>
            <a href="">Saiba Mais!</a>
        </section>
        <section class="sobre">
            <h1>Sobre o opTask</h1>
            <p>O opTask é um aplicativo web feito para ajudar na organização do dia a dia.
                Ele permite que cada usuário tenha sua própria lista de tarefas, podendo adicionar novas tarefas, editar, excluir e marcar como concluídas. 
                Tudo é feito de forma simples e rápida, com uma interface pensada para ser fácil de usar. O sistema é ideal para quem quer manter o foco em estudos, trabalho ou atividades pessoais.
                O opTask ainda está em evolução e vai receber novos recursos com o tempo, como filtros, etiquetas e estatísticas, tornando a experiência ainda mais completa.</p>
        </section>
    </main>
</body>
</html>
=======
<h1>Início</h1>
>>>>>>> 19b927e5b4ad602b703fe3127b4d3af6ad8b514c
