<div class="card">
<section class="main" style="padding: 30px; background-color: 	#eff6ff">
    <!-- Ícone e Título lado a lado -->
    <div class="header">
        <i class="bi bi-bar-chart-fill"></i>
        <h1>OpTask</h1>
    </div>
    
    <p style="font-size: 1.1rem;">
        O opTask é um site focado na organização do dia a dia, permitindo que os usuários criem, editem, excluam e marquem tarefas como concluídas. 
        Com uma interface simples e intuitiva, é ideal para quem precisa se organizar em estudos, trabalho ou atividades pessoais. 
        O site está em constante evolução e trará novos recursos, como filtros, etiquetas e estatísticas, para aprimorar a experiência do usuário.
    </p>
    
    <a href="" style="text-decoration: none; color:rgb(13, 26, 199); font-weight: bold;">Ler mais</a>
    <hr>
    
    <a href="usuarios/registro">
        <button class="btn btn-primary" style="width:100%">Cadastrar-se</button>
    </a>
</section>
</div>
<div class="card" style="background-color: #e0f2f1;">
<section class="tecno" style="padding: 30px;">
    <div class="header">
    <i class="bi bi-gear"></i><h1 style="font-size: 2.0rem;">Tecnologias</h1>
    </div>
    <div class="technologies-list mt-3">
            <div class="technology-item">
                <i class="bi bi-bootstrap"></i> <strong>Bootstrap</strong> - Framework CSS para design responsivo.
            </div>
            <div class="technology-item">
                <i class="bi bi-window"></i> <strong>Node.js</strong> - Plataforma para o backend do site.
            </div>
            <div class="technology-item">
                <i class="bi bi-database"></i> <strong>MongoDB</strong> - Banco de dados NoSQL para armazenar dados de tarefas.
            </div>
            <div class="technology-item">
                <i class="bi bi-code"></i> <strong>JavaScript</strong> - Linguagem de programação para interação e funcionalidades dinâmicas.
            </div>
            <div class="technology-item">
                <i class="bi bi-file-earmark-code"></i> <strong>Express.js</strong> - Framework para construção de APIs no backend.
            </div>
            <div class="technology-item">
                <i class="bi bi-palette"></i> <strong>CSS</strong> - Para estilização e criação de layouts atraentes e responsivos.
            </div>
        </div>
        </div>
</section>