* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E0E0E0;
    line-height: 1.6;
}

p {
    color:#9E9E9E;
    font-size: 1.0rem;
}

h1 {
    color: #333333
}

