{{#each erros}}
    <div class="alert alert-danger mt-3">{{texto}}</div>
{{/each}}

<style>
    body {
        background-color: #333333
    }
</style>
<div class="d-flex justify-content-center align-items-center vh-100 height: 100vh; width: 100vw;;">
<div class="card" style="width: 29rem; background-color:#F0F0F0">
    <div class="card-body">
        <form action="/usuarios/registro" method="post">
        <h1>Cadastrar-se</h1>
        <hr>
        <label for="nome">Nome de usuário:</label>
        <input type="text" name="nome" id="" placeholder="Nome de usuário" class="form-control">
        <label for="email">Email:</label>
        <input type="email" name="email" id="" placeholder="Email" class="form-control">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="" class="form-control" placeholder="Senha">
        <label for="senha2">Confirmar Senha:</label>
        <input type="password" name="senha2" id="" class="form-control" placeholder="Confirmar Senha">
        <button type="submit" class="btn btn-secondary mt-3">Cadastrar</button>
    </div>
    </form>
</div>
</div>
</div>